<div *ngIf="alliance">
  <h1><img *ngIf="icon" [src]="icon.px64x64">{{alliance.name}} [{{alliance.ticker}}]</h1>
  <ul class="list-unstyled">
    <li *ngIf="executor">Executor corp: <a routerLink="/corporation/{{executor.id}}">{{executor.name}}</a></li>
    <li>Founded: {{alliance.date_founded}}</li>
  </ul>
</div>
<system-table *ngIf="systemSovIDs.length > 0" [systemsID]="systemSovIDs"></system-table>
<table *ngIf="corporationsList.length > 0" class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Corporations ({{corporationsList.length}})</th>
      <th scope="col">Members (Total: {{memberCount}})</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let corporation of corporationsList">
      <td><a routerLink="/corporation/{{corporation.id}}">{{corporation.name}}</a></td>
      <td>{{corporation.member_count}}</td>
    </tr>
  </tbody>
</table>
