<div class="container-fluid">
  <header class="row">
    <div class="col">
      <h1><a routerLink="/">EVE</a></h1>
      <p>Eve time: {{eveTime.toUTCString()}}</p>
    </div>
  </header>
  <div class="row">
    <nav class="col">
      <a *ngIf="!isSessionActive" routerLink='/'>Login</a>
      <a routerLink="/search">Search</a>
      <span *ngIf="isSessionActive">
        <a routerLink="/user">User Info</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/" (click)="logout()">Logout</a>
      </span>
    </nav>
  </div>
  <div class="row">
    <main class="col">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>