<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">EVE Mate</a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/search">Search</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/regions">Region List</a>
    <a class="nav-item nav-link" routerLinkActive="active" *ngIf="!session" routerLink='/login'>Login</a>
    <a *ngIf="session" class="nav-item nav-link" routerLinkActive="active" routerLink="/user">Your character</a>
      <!-- <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user">Your corp</a> -->
    <span *ngIf="session" class="nav-item nav-link" (click)="logout()">Logout</span>
  </div>
</nav>
<header class="container-fluid mb-3">
  <div class="row bg-light">
    <div class="col">
      <p class="m-0 py-1">
        <small *ngIf="serverStatus">Server status: {{serverStatus.getTextStatus()}}</small>
        <small>Eve time: {{eveTime.toUTCString()}}</small>
        <small *ngIf="session && sessionTime">Session expires in: {{sessionTime}}</small>
      </p>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <main class="col">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>