<p>
  Hello capsuleer and welcome to <strong>EVE Mate!</strong><br>This website at the moment provides minimal functionalities, but in future here you will find any kind of informations relative to <a href="https://www.eveonline.com/">Eve Online</a>, taken straight from their API server. All you can do now is <a routerLink="/search">search</a> for entities in the game (characters, solar systems, stations, ships etc..) or check up <a routerLink="/regions">the regions list</a> and have a look at what's happening in the systems around you.
</p>
<p>
  Please consider that EVE Mate is still far from being complete: it's buggy and lacking a lot of features that will eventually roll out in the future months depending on my free time and how much interest is raised. If you are interested in contributing to the project, report bugs or propose something feel free to join me on <a href="https://github.com/rainst/evemate">gitHub</a> or drop me a <a href="mailto:evemate@breincorporation.com">mail</a>. If you have isks or PLEX to share you can donate in game to <a routerLink="/character/96447585">Brein Spiegel</a>.
</p>
<p>
  EVE Mate is a serverless web application developed with Angular 4. Everything you will see or do here is just data flowing from EVE Online's API server to your browser, there's no EVE Mate's server in between.
</p>