<div *ngIf="region">
  <h5>{{region.name}}</h5>
  <p>ID: {{region.region_id}}</p>
  <p>{{region.description}}</p>
  <div *ngIf="constellationsl">
    <h5>Constellations ({{constellations.length}})</h5>
    <dl *ngFor="let constellation of constellations">
      <dt><a routerLink="/constellation/{{constellation.id}}">{{constellation.name}}</a></dt>
    </dl>
  </div>
</div>

<table class="table table-hover table-sm" *ngIf="systemList.length">
  <thead>
    <tr>
      <th scope="col">System</th>
      <th scope="col">Constellation</th>
      <th scope="col">Sov</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let system of systemList">
      <td><a routerLink="/system/{{system.system_id}}">{{system.name}}</a></td>
      <td><a routerLink="/constellation/{{system.constellation_id}}">{{getConstellation(system.constellation_id).name}}</a></td>
      <td *ngIf="getSovereignty(system.system_id).alliance_id">
        <a routerLink="/alliance/{{getSovereignty(system.system_id).alliance_id}}">{{getAlliance(getSovereignty(system.system_id).alliance_id).alliance_name}}</a>
      </td>
      <td *ngIf="getSovereignty(system.system_id).faction_id">
        <a routerLink="/faction/{{getSovereignty(system.system_id).faction_id}}">{{getFaction(getSovereignty(system.system_id).faction_id).name}}</a>
      </td>
      <td *ngIf="!(getSovereignty(system.system_id).faction_id || getSovereignty(system.system_id).alliance_id)">-</td>
      <td><a routerLink="/system/"></a></td>
    </tr>
  </tbody>
</table>

<ul *ngIf="regionList">
  <li *ngFor="let region of regionList"><a routerLink="/region/{{region.id}}">{{region.name}}</a></li>
</ul>