<form (submit)="newSearch()">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Start typing to search in  EVE Online.." name="term" [(ngModel)]="term">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">Search</button>
    </span>
  </div>
  <small class="form-text text-muted">Note that EVE Online's search function is capped to 500 results.</small>
  <div *ngFor="let f of filters" class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="filter" id="filter_{{f.name}}" [value]="f.name" [(ngModel)]="filter">
      <small>{{f.displayName}}</small>
    </label>
  </div>
</form>
<p>{{status}}</p>
<searchresults *ngIf="results && results.count() > 0" [results]="results"></searchresults>
