<div *ngIf="characterSkills">
  <p *ngIf="characterSkills.total_sp"><strong>Total skill points:</strong> {{characterSkills.total_sp}}</p>
  <p *ngIf="characterSkills.skills"><strong>Total skills injected:</strong> {{characterSkills.skills.length}}</p>
  <ul *ngIf="characterSkills.skills">
    <li *ngFor="let skill of characterSkills.skills">
      <a routerLink="/item/{{skill.skill_id}}"><strong>{{skill.skill_name}}</strong></a>
      <strong>Skill level:</strong> {{skill.current_skill_level}}
    </li>
  </ul>
</div>