<table class="table table-hover table-sm" *ngIf="systemsDetails.length > 0">
  <thead>
    <tr>
      <th scope="col">System ({{systemsDetails.length}})</th>
      <th scope="col">Security</th>
      <th scope="col">Constellation ({{constellationList.length}})</th>
      <th scope="col">Sov</th>
      <th scope="col">Events ({{campaignsList.length}})</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let system of systemsDetails">
      <td><a routerLink="/system/{{system.system.system_id}}">{{system.system.name}}</a></td>
      <td>{{system.system.security_status.toFixed(2)}}</td>
      <td>
        <a routerLink="/constellation/{{system.constellation.constellation_id}}">{{system.constellation.name}}</a>
      </td>
      <td>
        <a *ngIf="system.sovereignty.alliance_id" routerLink="/alliance/{{system.sovereignty.alliance_id}}">
          {{system.alliance.alliance_name}}
        </a>
        <a *ngIf="system.sovereignty.faction_id" routerLink="/faction/{{system.sovereignty.faction_id}}">
          {{system.faction.name}}
        </a>
        <span *ngIf="!(system.sovereignty.faction_id || system.sovereignty.alliance_id)">-</span>
      </td>
      <td>
        <span *ngIf="system.campaigns.length > 0">
          <span *ngFor="let campaign of system.campaigns">{{campaign.event_type}} </span>
        </span>
        <span *ngIf="system.campaigns.length === 0">-</span>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="systemsDetails.length == 0">Loading system list..</p>