<div *ngIf="system">
  <h1>{{system.name}}</h1>
  <p *ngIf="region && constellation">Location: <a routerLink="/region/{{region.region_id}}">{{region.name}}</a> / <a routerLink="/constellation/{{constellation.constellation_id}}">{{constellation.name}}</a></p>
  <p>
    Stargates: {{system.stargates.length}}<br>
    <span *ngIf="systemJumps">Jumps in the last hour: {{systemJumps.ship_jumps}}<br></span>
    <span *ngIf="systemKills">
      Ships destroyed in the last hour: {{systemKills.ship_kills}}<br>
      Pods killed in the last hour: {{systemKills.pod_kills}}<br>
      NPC killed in the last hour: {{systemKills.npc_kills}}<br>
    </span>
  </p>
</div>

<div *ngIf="faction || alliance || corporation">
  <h5>Sovereignty</h5>
  <p>
    <span *ngIf="faction">
      Faction: <a routerLink="/faction/{{faction.faction_id}}">{{faction.name}}</a>
    </span>
    <span *ngIf="alliance">
      Alliance: <a routerLink="/alliance/{{alliance.id}}">{{alliance.alliance_name}} [{{alliance.ticker}}]</a><br>
    </span>
    <span *ngIf="corporation">
      Corporation: <a routerLink="/corporation/{{corporation.id}}">{{corporation.corporation_name}} [{{corporation.ticker}}]</a>
    </span>
  </p>
</div>

<div *ngIf="campaigns">
  <h5>Events</h5>
  <dl>
    <dd *ngFor="let campaign of campaigns">
      <p>Event type: {{campaign.event_type}}<br>Start date: {{campaign.start_time}}</p>
    </dd>
  </dl>
</div>

<div *ngIf="stations">
  <h5>Stations ({{stations.length}})</h5>
  <dl *ngFor="let station of stations">
    <dt><a routerLink="/station/{{station.id}}">{{station.name}}</a></dt>
  </dl>
</div>

<div *ngIf="planets">
  <h5>Planets ({{planets.length}}):</h5>
  <dl>
    <dt *ngFor="let planet of planets">
      <p><a routerLink="/planet/{{planet.planet_id}}">{{planet.planet_id}}</a></p>
      <div *ngIf="planet.moons">
        <p>Moons ({{planet.moons.length}}):</p>
        <ul>
          <li *ngFor="let moon of planet.moons"><a routerLink="/moon/{{moon}}">{{moon}}</a></li>
        </ul>
      </div>
    </dt>
  </dl>
</div>

<div *ngIf="stargates">
  <h5>Stargates ({{stargates.length}})</h5>
  <dl *ngFor="let stargate of stargates">
    <dt><a routerLink="/stargate/{{stargate}}">{{stargate}}</a></dt>
  </dl>
</div>