<div *ngIf="system">
  <h1>{{system.name}}</h1>
  <p *ngIf="region && constellation">Location: <a routerLink="/region/{{region.region_id}}">{{region.name}}</a> / <a routerLink="/constellation/{{constellation.constellation_id}}">{{constellation.name}}</a></p>
  <ul class="list-unstyled">
    <li *ngIf="system.stargate">Stargates: {{system.stargates.length}}</li>
    <li *ngIf="systemJumps">Jumps in the last hour: {{systemJumps.ship_jumps}}</li>
    <li *ngIf="systemKills">Ships destroyed in the last hour: {{systemKills.ship_kills}}</li>
    <li *ngIf="systemKills">Pods killed in the last hour: {{systemKills.pod_kills}}</li>
    <li *ngIf="systemKills">NPC killed in the last hour: {{systemKills.npc_kills}}</li>
  </ul>
</div>

<div *ngIf="faction || alliance || corporation">
  <h5>Sovereignty</h5>
  <ul class="list-unstyled">
    <li *ngIf="faction">Faction: <a routerLink="/faction/{{faction.faction_id}}">{{faction.name}}</a></li>
    <li *ngIf="alliance">Alliance: <a routerLink="/alliance/{{alliance.alliance_id}}">{{alliance.name}} [{{alliance.ticker}}]</a><br></li>
    <li *ngIf="corporation">Corporation: <a routerLink="/corporation/{{corporation.id}}">{{corporation.name}} [{{corporation.ticker}}]</a></li>
  </ul>
</div>

<div *ngIf="campaigns && campaigns.length">
  <h5>Events</h5>
  <ul class="list-unstyled">
    <li *ngFor="let campaign of campaigns">Event type: {{campaign.event_type}}, start time: {{campaign.start_time}}</li>
  </ul>
</div>

<!-- <div *ngIf="stations">
  <h5>Stations ({{stations.length}})</h5>
  <dl *ngFor="let station of stations">
    <dt><a routerLink="/station/{{station.id}}">{{station.name}}</a></dt>
  </dl>
</div>

<div *ngIf="planets">
  <h5>Planets ({{planets.length}}):</h5>
  <dl>
    <dt *ngFor="let planet of planets">
      <p><a routerLink="/planet/{{planet.planet_id}}">{{planet.planet_id}}</a></p>
      <div *ngIf="planet.moons">
        <p>Moons ({{planet.moons.length}}):</p>
        <ul>
          <li *ngFor="let moon of planet.moons"><a routerLink="/moon/{{moon}}">{{moon}}</a></li>
        </ul>
      </div>
    </dt>
  </dl>
</div>

<div *ngIf="stargates">
  <h5>Stargates ({{stargates.length}})</h5>
  <dl *ngFor="let stargate of stargates">
    <dt><a routerLink="/stargate/{{stargate}}">{{stargate}}</a></dt>
  </dl>
</div> -->