<table class="table table-hover table-sm" *ngIf="killList">
  <thead>
    <tr>
      <th scope="col">Victim</th>
      <th scope="col">Parties involved</th>
      <th scope="col">Location</th>
      <th scope="col">Ship</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kill of killList">
      <td>{{kill.victim.character_id}}</td>
      <td>{{kill.attackers.length}}</td>
      <td>{{kill.solar_system_id}}</td>
      <td>{{kill.victim.ship_type_id}}</td>
      <td>{{kill.killmail_time}}</td>
    </tr>
  </tbody>
</table>